{
  "account_number": "<Account Number> (required)",
  "label": "<Node Label> (required)",
  "description": "<description>",
  "ip": "<ip> (required)",
  "port": "<port> (required)",
  "admin_state": "<enabled|disabled> (required)",
  "health_strategy": "<health_strategy JSON Object> (required)",
  "vendor_extensions": "<vendor_extension JSON object> (required)",
  "comment": "comment (required)"
}
