{
  "account_number": req"<Account Number>",
  "label": req"<Node Label>",
  "description": "<description>",
  "ip": req"<ip>",
  "port": req"<port>",
  "admin_state": req"<enabled|disabled>",
  "health_strategy": req"<health_strategy JSON Object>",
  "vendor_extensions": req"<vendor_extension JSON object>",
  "comment": req"comment"
}