{
  "account_number": "<Account Number> (required)",
  "label": "<Label> (required)",
  "description": "<description>",
  "ip": "<ip>",
  "protocol": "<protocol> (required)",
  "port": "<port> (required)",
  "algorithm": {} (required),
  "persistence": {} (required),
  "nodes": {},
  "admin_state": "<enabled|disabled> (required)",
  "comment": "<comment> (required)"
}
