{
  "account_number": "<Account Number>",
  "label": "<Label>",
  "description": "<description>",
  "ip": "<ip>",
  "protocol": "<protocol>",
  "port": "<port>",
  "algorithm": {},
  "persistence": {},
  "nodes": {},
  "admin_state": "<enabled|disabled>",
  "comment": "<comment>"
}
