{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "id": "virtual-securityLogProfiles-GET",
  "description": "Get Security Log Profiles in the Load Balancer",
  "$ref": "securityLogProfiles.json",
  "required": [
      "names"
    ]
}