{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "id": "virtual-persist-GET",
  "description": "Get persist in the Load Balancer",
  "$ref": "virtual-persist.json",
  "required": [
      "profileName"
    ]
}