{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "id": "poolsGET",
  "type": "object",
  "properties": {
    "items": {
      "type": "array",
      "items": {
        "allOf": [
          {
            "$ref": "pool-GET.json"
          }
        ],
        "links": {
          "$ref": "links.json"
        },
        "required": [
          "links"
        ]
      }
    }
  },
  "required": [
    "items"
  ]
}