{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "type": "object",
  "properties": {
    "address": {
      "type": "string"
    },
    "appService": {
      "type": "string"
    },
    "connectionLimit": {
      "type": "integer"
    },
    "description": {
      "type": "string"
    },
    "dynamicRatio": {
      "type": "integer"
    },
    "logging": {
      "type": "string"
    },
    "rateLimit": {
      "type": "string"
    },
    "ratio": {
      "type": "integer"
    }
  },
  "required": [
    "address"
  ]
}