
{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "id": "member-monitor-rule-POST",
  "description": "Creates a pool member's monitor rule",
  "$ref": "monitor.json",
  "required": [
    "names"
  ]
}