{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "type": "object",
  "properties": {
    "names": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "minimum": {
      "type": "integer"
    }
  },
  "required": [
    "names"
  ]
}