{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "type": "object",
  "properties": {
    "appService": {
      "type": "string"
    },
    "connectionLimit": {
      "type": "integer"
    },
    "description": {
      "type": "string"
    },
    "dynamicRatio": {
      "type": "integer"
    },
    "inheritProfile": {
      "type": "string"
    },
    "logging": {
      "type": "string"
    },
    "priorityGroup": {
      "type": "integer"
    },
    "rateLimit": {
      "type": "string"
    }
  },
  "required": [ ]
}