**Endpoint:** {{ordered_load['base_uri']| replace("https://bpi.automation.api.rackspacecloud.com", "https://loadbalancer.api.rackspace.com")}}

{% for (key, value) in ordered_load['parsed_data'].iteritems() %}
		{% if value['methods'] != None %}
            {% for (code, mthds) in value['methods'].items() %}
                {% if mthds['description'] %}
## {{mthds['description']}}
				{% elif value['displayName'] %}
## {{value['displayName']}}
                {% endif %}
                {% if value['description'] %}
{{value['description']}}
                {% endif %}
```
{{code|upper}} {{key}}
```


			{% if mthds['responses'] != None %}
				{% if code == 'get' %}
*This operation does not accept a request body.*
            {% endif %}
            {% if mthds['body'] %}


**Request**
						{% if mthds['body']['application/json']['example'] %}
{% set sample = mthds['body']['application/json']['example'] %}
						{% elif mthds['body']['application/json']['schema'] %}
{% set sample = mthds['body']['application/json']['schema'] %}
						{% endif %}

```
{{sample}}
```
					{% endif %}
                {% for (status_code, resp) in mthds['responses'].iteritems() %}
					
					{% if resp['body'] %}
						{% for (app_type, details) in resp['body'].iteritems(): %}
							{% if details['example'] %}
								{% if code != 'get' %}
									{% if value['displayName'] %}
#### {{code|upper}} {{value['displayName']}} response
									{% else %}
#### {{code|upper}} {{status_code}} response
								{% endif %}
                                {% else %}
                                {{meh}}
#### {{code|upper}} {{status_code}} response
							{% endif %}
{# Display only if the description is provided for the response #}
							{% if resp['description'] %}
{{resp['description']}}
{% endif %}
```
{{details['example']}}
```
							{% else %}
```
{}
```
							{% endif %}
						{% endfor %}
					{% else %}
						{% if value['displayName'] %}
#### {{code|upper}} {{value['displayName']}} {{status_code}} response
						{% else %}
#### {{code|upper}} {{status_code}} response
						{% endif %}
{{resp['description']}}
					{% endif %}
				{% endfor %}
			{% endif %}
        {% endfor %}
    {% else %}
				{% if value['displayName'] %}
## {{value['displayName']}}
				{% endif %}
				{% if value['description'] %}
{{value['description']}}
				{% endif %}
```
{{code|upper}} {{key}}
```
	{% endif %}
{% endfor %}
