{
  "data": {
    "eventId": "62d1ba2a-0edf-4583-8e2c-ab0b54c78193",
    "status": "PROCESSING",
    "timestamp": "2016-03-18T03:18:35.5077939Z",
    "resource": "<monitorId:str>",
    "eventRef": "/events/<eventId:str>"
  }
}
