{
  "data": [
    {
      "id": "test1:80",
      "address": "2.2.2.2",
      "connq": {
        "ageEdm": 0,
        "ageEma": 0,
        "ageHead": 0,
        "ageMax": 0,
        "depth": 0,
        "serviced": 0
      },
      "curSessions": 0,
      "monitorRule": {
        "monitors": [
          "default"
        ],
        "minimum": "all"
      },
      "monitorStatus": "unchecked",
      "nodeName": "test1",
      "poolName": "test2",
      "port": {
        "type": "equal",
        "value": 80
      },
      "serverside": {
        "bitsIn": 0,
        "bitsOut": 0,
        "curConns": 0,
        "maxConns": 0,
        "pktsIn": 0,
        "pktsOut": 0,
        "totConns": 0
      },
      "sessionStatus": "enabled",
      "status": {
        "availabilityState": "unknown",
        "enabledState": "enabled",
        "statusReason": "Pool member does not have service checking enabled"
      },
      "totRequests": 0,
      "links": [
        {
          "rel": "self",
          "href": "https://localhost/f5/232323/pools/test2/members/test1:80/stats"
        }
      ]
    }
  ]
}