{
    "data": [
        {
            "id": "my-special-node",
            "address": "11",
            "curSessions": 1,
            "monitorRule": {
                "monitors": [
                    "default"
                ],
                "minimum": "all"
            },
            "serverside": {
                "bitsIn": 1,
                "bitsOut": 1,
                "curConns": 1,
                "maxConns": 2,
                "pktsIn": 1,
                "pktsOut": 1,
                "totConns": 1
            },
            "sessionStatus": "fine",
            "status": {
                "availabilityState": "available",
                "enabledState": "maybe",
                "statusReason": "because"
            },
            "totRequests": 3,
            "links": [
                {
                    "ref": "self",
                    "href": "https://localhost/f5/232323/nodes/my-special-node/stats"
                },
                {
                    "rel": "node",
                    "href": "https://localhost/f5/232323/nodes/my-special-node"
                }
            ]
        }
    ]
}