{
    "data": [
        {
            "id": "162.242.206.181:80",
            "address": "162.242.206.181",
            "appService": null,
            "connectionLimit": 0,
            "description": null,
            "dynamicRatio": 1,
            "inheritProfile": "enabled",
            "logging": "disabled",
            "monitor": "default",
            "priorityGroup": 0,
            "rateLimit": "disabled",
            "ratio": 1,
            "session": "monitor-enabled",
            "state": "down",
            "metadata": {
                "href": "https://localhost/f5/232323/nodes/162.242.206.181/metadata"
            },
            "monitors": {
                "href": "https://localhost/f5/232323/nodes/162.242.206.181/monitors"
            },
            "profiles": []
        }
    ]
}
