{
    "data": [
        {
            "name": "test_pool",
            "_links": {
                "self": {
                    "href": "http://localhost:8000/f5/12345/virtuals/VIP-127.0.0.1-80/pool/"
                }
            }
        } 
    ]
}
