{
	"data": [
		{
		  "minimum": "all",
		  "_links": {
		    "self": {
		      "href": "https://fe-staging.netsec.rackspace.net/f5/12345/pools/pool1/members/127.0.0.1:80"
		    },
		    "none": {
		      "href": "https://fe-staging.netsec.rackspace.net/f5/12345/monitors/none"
		    }
		  },
		  "names": [
		    "none"
		  ]
		}
	]
}