{
    "data": [
        {
          "name": "hello",
          "value": "world",
          "persist": false,
          "links": [
            {
              "rel": "self",
              "href": "https://localhost/f5/232323/nodes/test2/metadata/hello"
            }
          ]
        },
        {
            "name": "foo",
            "links": [
                {
                    "rel": "self",
                    "href": "https://localhost/f5/232323/nodes/test2/metadata/foo"
                }
            ]
        }
    ]
}