{
    "data": {
        "eventId": "<eventId:str>",
        "resource": "<poolId:str>",
        "type": "<memberId:str>",
        "timestamp": "2016-03-17T09:36:42.5274609Z",
        "eventRef": "/events/<eventId:str>"
    }
}