#%RAML 0.8
title: F5 Load Balancer
version: 1 <br> <p style="font-size:17px; color:black"><em>Last modified date - June 6, 2016 </em></p><hr>
baseUri: https://bpi.automation.api.rackspacecloud.com/2.0/{tenant_id}/f5loadbalancers/{core_id}
documentation:
- title: API Overview
  content: |
    This API exposes methods to view and manage F5 Load Balancer resources

- title: Authentication and Authorization
  content: |
    Access to this API is granted through a valid token acquired through the Internal Identity service <pending link>.
    The token is passed within the *X-Auth-Token* HTTP header.

    ** Roles required to access API : <br>**
    "bpi_lbs_read" is required for GET calls <br>
    "bpi_lbs_write" is required for PUT, POST, DELETE calls <br>
- title: Standard errors
  content: |
    - **401**: Authentication error, the user does not have valid authentication details.
    - **403**: Forbidden, you are not authorized to view this resource.
    - **404**: The page requested does not exist.

baseUriParameters:
  tenant_id:
    displayName: Tenant ID
    description: |
        The account number associated with the core_id
    type: integer
  core_id:
    displayName: CORE Device Number
    description: |
        The CORE device number for the loadbalancer.
    type: integer

mediaType: application/json

securitySchemes:
  - internalIdentity:
      description: |
        Rackspace Internal Identity authentication
      type: x-auth-token
      describedBy:
        headers:
          X-Auth-Token:
            description: |
                Used to send a valid Identity access token.
            type: string
        responses:
          401:
            description: |
              Bad or expired token. To fix, you should re-authenticate the user.
          403:
            description: |
              User Doesn't have the required role.
      settings:
        identityServiceUri: https://identity-internal.api.rackspacecloud.com/v2.0/

securedBy: [internalIdentity]

/:
    displayName: /
    description: |
        Retrieve device details like the model number, OS version, cpu stats, etc...
    get:
        responses:
            200:
                description: |
                    Retrieve a list of details.
                body:
                    application/json:
                        example: !include examples/get_f5_load_balancer_details.sample
            501:
                description: |
                    Retrieving a list of details is not supported and/or not implemented.
            510:
                description: |
                    An indeterminate error occurred. This is caused by an unexpected error.

/nodes:
    displayName: Nodes
    description: |
        Nodes are a combination of an IP and a port that process requests directed from a Pool in a Virtual Server. Nodes can be bound to one or more Pools.
    get:
        displayName: Retrieve Nodes in a Virtual Pool
        description: |
            Retrieve all Nodes in the load balancer
        responses:
            200:
                description: |
                    Retrieve a list of Nodes
                body:
                    application/json:
                        schema: !include schemas/get_nodes.sample
                        example: !include examples/get_nodes.sample
            401:
                description: |
                    Bad or expired token. To fix, you should re-authenticate the user.
            501:
                description: |
                    Retrieving a list of nodes is not supported and/or not implemented.
            510:
                description: |
                    An indeterminate error occurred. This is caused by an unexpected error.

    post:
        displayName: Create a Node
        description: |
            Create a Node specified by a Nodes

            Payload Properties

            | Attribute |  Type |  Possible Value(s) | Required |
            | ---------- |  ---- |  --------------- | -------- |
            | address |  String |  '0.0.0.0' | True |
            | appService  |  String |  A string or null   | False |
            | connectionLimit |  Integer |  An integer | False |
            | description     |  String |  A string or null | False |
            | dynamicRatio    |  Integer | An integer | False |
            | logging         |  String | 'enabled' or 'disabled' | False |
            | rateLimit       |  String or Integer | Any integer value or the word 'disabled' | False |
            | ratio           |  Integer | Any integer value | False |
            *All string values are case sensitive*

        body:
            application/json:
                example: !include examples/post_node_by_id_payload.sample

        responses:
            200:
                description: |
                    Node was created successfully
                body:
                    application/json:
                        example: !include examples/post_node_by_id_response.sample
            400:
                description: |
                    Bad request
            401:
                description: |
                    Bad or expired token. To fix, you should re-authenticate the user.
            403:
                description: |
                    User doesn't have the required role.
            500:
                description: |
                    An indeterminate error occurred. This is caused by an unexpected error

    /stats:
        displayName: All Nodes Stats
        description: |
            Retrieve stats for all Nodes in the Node pool.
        get:
            displayName: All Nodes Stats
            description: |
                Retrieve a list of Node stats in the load balancer
            responses:
                200:
                    description: |
                        Retrieve stats for nodes inside virtual pool.
                    body:
                        application/json:
                            schema: !include schemas/get_nodes_stats.sample
                            example: !include examples/get_nodes_stats.sample
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.

    /{nodeId}:
        displayName: Single Node
        description: |
            Retrieve, update and delete an existing Node specified by a Node id.
        get:
            displayName: Retrieve a Node for the specified Node id.
            description: |
                Retrieve a Node specified by a Node id
            responses:
                200:
                    description: |
                        Retrieve a Node specified by a Node id
                    body:
                        application/json:
                            schema: !include schemas/get_nodeid.sample
                            example: !include examples/get_nodeid.sample
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                404:
                    description: |
                        The node requested was not found.
                501:
                    description: |
                        Retrieving a specific node is not supported and/or not implemented.
                510:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error.

        put:
            displayName: Update a Node
            description: |
                Update a Node specified by a Node id

                Payload Properties

                | Attribute |  Type |  Possible Value(s) | Required |
                | ---------- |  ---- |  --------------- | -------- |
                | address |  String |  '0.0.0.0' | False |
                | appService  |  String |  A string or null   | False |
                | connectionLimit |  Integer |  An integer | False |
                | description     |  String |  A string or null | False |
                | dynamicRatio    |  Integer | An integer | False |
                | logging         |  String | 'enabled' or 'disabled' | False |
                | rateLimit       |  String or Integer | Any integer value or the word 'disabled' | False |
                | ratio           |  Integer | Any integer value | False |
                *All string values are case sensitive*
            body:
                application/json:
                    example: !include examples/put_node_by_id_payload.sample

            responses:
                200:
                    description: |
                        Node was successfully updated.
                    body:
                        application/json:
                            example: !include examples/put_node_by_id_response.sample
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                403:
                    description: |
                        User doesn't have the required role.
                500:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error

        delete:
            displayName: Delete a Node
            description: |
                Delete a Node in the load balancer specified by a Node id.
            responses:
                200:
                    body:
                        application/json:
                            example: !include examples/delete_node_by_id.sample
                    description: |
                        Node was successfully deleted.
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                403:
                    description: |
                        User doesn't have the required role.
                500:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error

        /stats:
            displayName: Single Node Stats
            description: |
                Retrieve stats for a Node.
            get:
                displayName: Retrieve stats for a single Node
                description: |
                    Retrieve a stats for a Node.
                responses:
                    200:
                        description: |
                            Returns stats for the specified Node.
                        body:
                            application/json:
                                schema: !include schemas/get_nodes_nodeid_stats.sample
                                example: !include examples/get_nodes_nodeid_stats.sample
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    501:
                        description: |
                            Retrieving a list of stats is not supported and/or not implemented.
                    510:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error.

        /monitor-rule:
            displayName: Node Monitor Rule
            description: |
                Retrieve, update and delete actions on a Node monitor rule specified by a Node id.
            get:
                displayName: Single Node Monitor Rule
                description: |
                    Retrieve monitor rule associated to a Node.
                responses:
                    200:
                        description: |
                            Retrieve a list of what is being monitored for the specified Node.
                        body:
                            application/json:
                                schema: !include schemas/get_nodes_nodeid_monitor.sample
                                example: !include examples/get_nodes_nodeid_monitor.sample
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    404:
                        description: |
                            The monitor rule requested was not found.
                    501:
                        description: |
                            Retrieving a specific monitor rule is not supported and/or not implemented.
                    510:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error.

            post:
                displayName: Create Node Monitor Rule
                description: |
                    Create monitor rule information for the specified Node.


                    Payload Properties

                    | Attributes | Type | Possible Value(s) | Required |
                    | ---------- | ---- | --------------- | -------- |
                    | names | Array | 'https_443', 'real_server', 'tcp_echo' | True |
                    | minimum | String or Integer | 'all' or a minimum of 0| False |
                    *All string values are case sensitive*
                body:
                    application/json:
                        example: |
                            {
                                "names": [
                                    "https_443"
                                ],
                                "minimum": 1
                            }
                responses:
                    200:
                        body:
                            application/json:
                                example: !include examples/create_nodes_nodeid_monitor.sample
                        description: |
                            Create monitor rule specified by the node id.

                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    403:
                        description: |
                            User doesn't have the required role.
                    500:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error
            put:
                displayName: updates Node Monitor Rule
                description: |
                    Update a Monitor Rule for the specified Node.


                    Payload Properties

                    | Attributes | Type | Possible Value(s) | Required |
                    | ---------- | ---- | --------------- | -------- |
                    | names | Array | 'https_443', 'real_server', 'tcp_echo' | True |
                    | minimum | String or Integer | 'all' or a minimum of 0| False |
                    *All string values are case sensitive*
                body:
                    application/json:
                        schema: !include schemas/put_nodes_nodeid_monitor_rule.sample
                        example: !include examples/put_nodes_nodeid_monitor_rule_example.sample
                responses:
                    200:
                        body:
                            application/json:
                                example: !include examples/put_nodes_node_id_monitor.example
                        description: |
                            Update node monitor rule specified by node id
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    403:
                        description: |
                            User doesn't have the required role.
                    500:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error

            delete:
                displayName: Delete Node Monitor Rule
                description: |
                    Delete Node Monitor Rule
                responses:
                    200:
                        body:
                            application/json:
                                example: !include examples/delete_pool_monitor_rule.sample
                        description: |
                            Delete node monitor rule specified by node id
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    403:
                        description: |
                            User doesn't have the required role.
                    500:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error

/pools:
    displayName: Pools
    description: |
        Pools are customizable containers that exist on Load Balancers. Pools may contain zero or more Nodes.
        Pools can be bound to one or more virtuals
    get:
        displayName: Retrieve all Pools in Load Balancer
        description: |
            Retrieve all Pools that have been created in the current Load Balancer.
        responses:
            200:
                description: |
                    Retrieve a list of pools.
                body:
                    application/json:
                        schema: !include schemas/get_pools.sample
                        example: !include examples/get_pools.sample
            401:
                description: |
                    Bad or expired token. To fix, you should re-authenticate the user.
            501:
                description: |
                    Retrieving a list of pools is not supported and/or not implemented.
            510:
                description: |
                    An indeterminate error occurred. This is caused by an unexpected error.

    /stats:
        displayName: Pools Stats
        description: |
            Retrieve all stats associated to all Pools that have been created in a Load Balancer.
        get:
            displayName: Reterieve All Pool Stats
            description: |
                Retrieve a list of all stats associated with all Pools in a Load Balancer.
            responses:
                200:
                    description: |
                        Retrieve a list of stats.
                    body:
                        application/json:
                            schema: !include schemas/get_pools_stats.sample
                            example: !include examples/get_pools_stats.sample
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                501:
                    description: |
                        Retrieving a list of stats is not supported and/or not implemented.
                510:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error.

    /{poolId}:
        displayName: Single Pool
        description: |
            Retrieve, update and delete on a specified Pool.
        get:
            displayName: Retrieve a single spcified Pool.
            description: |
                Retrieve a Pool specified by a Pool id.
            responses:
                200:
                    description: Retrieve the pool specified.
                    body:
                        application/json:
                            schema: !include schemas/get_pools_poolid.sample
                            example: !include examples/get_pools_poolid.sample
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                404:
                    description: |
                        The pool requested was not found.
                501:
                    description: |
                        Retrieving a specific pool is not supported and/or not implemented.
                510:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error.

        put:
            displayName: Update Pool
            description: |
                Update a Pool specified by a Pool id.

                Payload Properties

                | Attribute | Type | Possible Value(s) | Required |
                | --------- | ---- | ----------------- | -------- |
                | allowNat | String | enum("yes", "no") | False |
                | allowSnat | String | enum("yes", "no") | False |
                | appService | String | A string or null | False |
                | description | String | A string or null | False |
                | gatewayFailsafeDevice | String | A string or null | False |
                | ignorePersistedWeight | String | enum("yes", "no") | False |
                | ipTosToClient | String or Integer | 'pass-through' or any Integer | False |
                | ipTosToServer | String or Integer | 'pass-through' or any Integer | False |
                | linkQosToClient | String or Integer | 'pass-through' or any Integer | False |
                | linkQosToServer | String or Integer | 'pass-through' or any Integer | False |
                | loadBalancingMode | String | enum("dynamic-ratio-member", "dynamic-ratio-node", "fastest-app-response", "fastest-node", "least-connections-members", "least-connections-node", "least-sessions", "observed-member", "observed-node", "predictive-member", "predictive-node", "ratio-least-connections-member", "ratio-least-connections-node", "ratio-member", "ratio-node", "ratio-session", "round-robin", "weighted-least-connections-member", "weighted-least-connections-node") | False |
                | minActiveMembers | Integer | Any integer or a minimum of 0 | False |
                | minUpMembers | Integer | Any integer or a minimum of 0 | False |
                | minUpMembersAction | String | enum("failover", "reboot", "restart-all") | False |
                | minUpMembersChecking | String | enum("enabled", "disabled") | False |
                | profiles | String | A string or null | False |
                | queueDepthLimit | Integer | Any Integer or a minimum of 0 | False |
                | queueOnConnectionLimit | String | enum("enabled", "disabled") | False |
                | queueTimeLimit | Integer | Any Integer or a minimum of 0 | False |
                | reselectTries | Integer | Any Integer or a minimum of 0 | False |
                | serviceDownAction | String | enum("drop", "reselect", "reset") or null | False |
                | slowRampTime | Integer | Any Integer or a minimum of 0 | False |
                *All string values are case sensitive*
            body:
                application/json:
                    example: !include examples/pool_put_body.sample

            responses:
                200:
                    body:
                        application/json:
                            example: !include examples/pool_put_response_200.sample
                    description: |
                        Update a Pool specified by a Pool id
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                403:
                    description: |
                        User doesn't have the required role.
                500:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error.
        delete:
            displayName: Delete Pool
            description: |
                Delete a Pool specified by a Pool id.
            responses:
                200:
                    body:
                        application/json:
                            example: !include examples/pool_delete_response_200.sample
                    description: |
                        Delete a Pool specified by a Pool id

                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                403:
                    description: |
                        User doesn't have the required role.

                500:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error

        /stats:
            displayName: A Pool Stats
            description: |
                Retrieve all stats associated to this specific Pool.
            get:
                displayName: Retrieve stats for a Pool
                description: |
                    Retrieve stats for a Pool specified by a Pool id.
                responses:
                    200:
                        description: |
                            Retrieve a list of stats.
                        body:
                            application/json:
                                schema: !include schemas/get_pools_poolid_stats.sample
                                example: !include examples/get_pools_poolid_stats.sample
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    501:
                        description: |
                            Retrieving a list of stats is not supported and/or not implemented.
                    510:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error.

        /monitor-rule:
            displayName: A Pool's Monitor Rule
            description: |
                Retrieve a monitor rule associated with this Pool.
            get:
                displayName: Retrieve a monitor rule for a Pool
                description: |
                    Retrieve a monitor rule for the specified Pool.

                responses:
                    200:
                        description: |
                            Retrieve the monitor-rule specified.
                        body:
                            application/json:
                                schema: !include schemas/get_pools_poolid_monitor_rule.sample
                                example: !include examples/get_pools_poolid_monitor_rule.sample
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    404:
                        description: |
                            The monitor-rule requested was not found.
                    501:
                        description: |
                            Retrieving a specific monitor-rule is not supported and/or not implemented.
                    510:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error.
            post:
                displayName: Create pool monitor rule.
                description: |
                    Create a Monitor Rule for the specified Pool.

                    Payload Properties

                    | Attributes | Type | Possible Value(s) | Required |
                    | ---------- | ---- | --------------- | -------- |
                    | names | Array | 'tcp', 'https' | True |
                    | minimum | String or Integer | 'all' or a minimum of 0| False |
                    *All string values are case sensitive*
                body:
                    application/json:
                        example: |
                            {
                                "names": [
                                    "tcp"
                                ],
                                "minimum": 1
                            }
                responses:
                    200:
                        body:
                            application/json:
                                example: !include examples/create_pools_poolid_monitor_rule.sample
                        description: |
                            Create a Monitor Rule for the specified Pool.
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    403:
                        description: |
                            User doesn't have the required role.
                    500:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error.
            put:
                displayName: Update pool monitor rule.
                description: |
                    Update a Monitor Rule for the specified Pool.

                    Payload Properties

                    | Attributes | Type | Possible Value(s) | Required |
                    | ---------- | ---- | --------------- | -------- |
                    | names | Array | 'tcp', 'https' | True |
                    | minimum | String or Integer | 'all' or a minimum of 0| False |
                    *All string values are case sensitive*
                body:
                    application/json:
                        example: |
                            {
                                "names": [
                                    "tcp"
                                ],
                                "minimum": "all"
                            }
                responses:
                    200:
                        body:
                            application/json:
                                example: !include examples/update_pools_poolid_monitor_rule.sample
                        description: |
                            Update a Monitor Rule for the specified Pool.
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    403:
                        description: |
                            User doesn't have the required role.
                    500:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error.
            delete:
                displayName: Delete pool monitor rule.
                description: |
                    Delete a Monitor Rule for the specified Pool.
                responses:
                    200:
                        body:
                            application/json:
                                example: !include examples/delete_pools_poolid_monitor_rule.sample
                        description: |
                            Delete a Monitor Rule for the specified Pool.
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    403:
                        description: |
                            User doesn't have the required role.
                    500:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error.

        /members:
            displayName: Pool Members listed in a Pool
            description: |
                Retrieve and create Pool Members within a Pool.
            get:
                displayName: Retrieve Pool Members
                description: |
                    Retrieve Pool members for the specified Pool id.
                responses:
                    200:
                        description: |
                            Retrieve a list of Pool members.
                        body:
                            application/json:
                                schema: !include schemas/get_pools_poolid_members.sample
                                example: !include examples/get_pools_poolid_members.sample
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    403:
                        description: |
                            User doesn't have the required role.
                    501:
                        description: |
                            Retrieving a list of members is not supported and/or not implemented.
                    510:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error.
            post:
                displayName: Create a new Pool member.
                description: |
                    Create a new pool member.

                    Payload Properties

                    | Attributes | Type | Possible Value(s) | Required |
                    | ---------- | ---- | --------------- | -------- |
                    |  nodeId | String | Node-{address}-{nodeId}| True |
                    |  port   | Object | {('type', 'equal'), ('value', 80)}  | True |
                    *All string values are case sensitive*
                body:
                    application/json:
                        schema: !include schemas/post_pools_poolid_members_memberid.sample
                        example: !include examples/post_pools_poolid_members_memberid.sample

                responses:
                    200:
                        body:
                            application/json:
                                example: !include examples/post_pools_poolid_members_memberid_example.sample
                        description: |
                            Create a new pool member by pool id.
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    403:
                        description: |
                            User doesn't have the required role.
                    500:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error.

            /stats:
                displayName: Pool Members Stats
                description: |
                    Retrieve a Pool members stats.
                get:
                    displayName: Retrieve Pool Members Stats
                    description: |
                        Retrieve a Pool members list of stats.
                    responses:
                        200:
                            body:
                                application/json:
                                    schema: !include schemas/get_pools_poolid_members_stats.sample
                                    example: !include examples/get_pools_poolid_members_stats.sample
                            description: |
                                Retrieve a new pool member by pool id.
                        401:
                            description: |
                                Bad or expired token. To fix, you should re-authenticate the user.
                        501:
                            description: |
                                Retrieving a list of stats is not supported and/or not implemented.
                        510:
                            description: |
                                An indeterminate error occurred. This is caused by an unexpected error.

            /{memberId}:
                displayName: Pool Member
                description: |
                    Retrieve, update and delete a Pool member specified by a member id.
                get:
                    displayName: Retrieve a specific Pool member
                    description: |
                        Retrieve a Pool Member from the Pool specified by the Pool id.
                    responses:
                        200:
                            body:
                                application/json:
                                    schema: !include schemas/get_pools_poolid_members_memberid.sample
                                    example: !include examples/get_pools_poolid_members_memberid.sample
                        401:
                            description: |
                                Bad or expired token. To fix, you should re-authenticate the user.
                        500:
                            description: |
                                An indeterminate error occurred. This is caused by an unexpected error.

                put:
                    displayName: Update a new Pool member
                    description: |
                        Update a new Pool Member

                        Payload Properties

                        | Attribute |  Type |  Possible Value(s) | Required |
                        | ---------- |  ---- |  --------------- | -------- |
                        | address | String | '0.0.0.0' | False |
                        | appService | String | A String or null | False |
                        | connectionLimit | Integer | Any Integer or a minimum of 0 | False |
                        | description | String | String or null | False |
                        | dynamicRatio | Integer | Any Integer | False |
                        | logging | String | enum("enable", "disabled") | False |
                        | rateLimit | String or Integer | 'disabled' or any Integer | False |
                        | inheritProfile | String | enum("enabled", "disabled") | False |
                        | priorityGroup | Integer | Any Integer | False |
                        | ratio | Integer | Any Integer | False |
                        | session | String | Any string | False |
                        | state | String | Any string | False |
                        *All string values are case sensitive*
                    body:
                        application/json:
                            schema: !include schemas/put_pools_poolid_members_memberid.sample
                            example: !include examples/put_pools_poolid_members_memberid.sample

                    responses:
                        200:
                            body:
                                application/json:
                                    example: !include examples/put_pools_poolid_members_memberid_example.sample
                            description: |
                                Update a new pool member by pool id.
                        401:
                            description: |
                                Bad or expired token. To fix, you should re-authenticate the user.
                        403:
                            description: |
                                User doesn't have the required role.
                        500:
                            description: |
                                An indeterminate error occurred. This is caused by an unexpected error.

                delete:
                    displayName: Delete a new Pool member
                    description: |
                       Delete a Pool Member

                    responses:
                        200:
                            body:
                                application/json:
                                    example: !include examples/delete_pools_poolid_members_memberid_example.sample
                            description: |
                                Delete a new pool member by pool id.
                        401:
                            description: |
                                Bad or expired token. To fix, you should re-authenticate the user.
                        403:
                            description: |
                                User doesn't have the required role.
                        500:
                            description: |
                                An indeterminate error occurred. This is caused by an unexpected error.

                /monitor-rule:
                    get:
                        displayName: Retrieve the monitor-rule specified.
                        description: |
                            Retrieve a Pool Member Monitor Rule.
                        responses:
                            200:
                                body:
                                    application/json:
                                        example: !include examples/get_pools_poolid_members_monitor-rule.sample
                                description: |
                                    Retrieve a Pool Member Monitor Rule.
                            401:
                                description: |
                                    Bad or expired token. To fix, you should re-authenticate the user.
                            500:
                                description: |
                                    An indeterminate error occurred. This is caused by an unexpected error.
                    post:
                        description: |
                            Create a Pool Member Monitor Rule.

                            Payload Properties

                            | Attributes | Type | Possible Value(s) | Required |
                            | ---------- | ---- | --------------- | -------- |
                            | names | Array | "tcp", "https" | True |
                            | minimum | String or Integer | 'all' or a minimum of 0| False |
                            *All string values are case sensitive*
                        body:
                          application/json:
                            schema: !include schemas/post_pools_poolid_members_memberid_monitor_rule_schema.sample
                            example: !include examples/post_pools_poolid_members_memberid_monitor_rule_request.sample
                        responses:
                            200:
                                body:
                                    application/json:
                                        example: !include examples/post_pools_poolid_members_memberid_monitor_rule_response.sample
                                description: |
                                    Create a Pool Member Monitor Rule.
                            401:
                                description: |
                                    Bad or expired token. To fix, you should re-authenticate the user.
                            403:
                                description: |
                                    User doesn't have the required role.
                            500:
                                description: |
                                    The server encountered an unexpected condition which prevented it from creating a pool member monitor rule.
                    put:
                        description: |
                            Update a Pool Member Monitor Rule.

                            Payload Properties

                            | Attributes | Type | Possible Value(s) | Required |
                            | ---------- | ---- | --------------- | -------- |
                            | names | Array | "tcp", "https" | True |
                            | minimum | String or Integer | 'all' or a minimum of 0| False |
                            *All string values are case sensitive*
                        body:
                          application/json:
                            schema: !include schemas/put_pools_poolid_members_memberid_monitor_rule_schema.sample
                            example: !include examples/put_pools_poolid_members_memberid_monitor_rule_request.sample
                        responses:
                            200:
                                body:
                                    application/json:
                                        example: !include examples/put_pools_poolid_members_memberid_monitor_rule_response.sample
                                description: |
                                    Update a Pool Member Monitor Rule.
                            401:
                                description: |
                                    Bad or expired token. To fix, you should re-authenticate the user.
                            403:
                                description: |
                                    User doesn't have the required role.
                            500:
                                description: |
                                    The server encountered an unexpected condition which prevented it from creating a pool member monitor rule
                    delete:
                        description: |
                            Delete a Pool Member's Monitor Rule.
                        responses:
                            200:
                                body:
                                    application/json:
                                        example: !include examples/delete_pools_poolid_members_memberid_monitor_rule_response.sample
                                description: |
                                    Delete a Pool Member Monitor Rule.
                            401:
                                description: |
                                    Bad or expired token. To fix, you should re-authenticate the user.
                            403:
                                description: |
                                    User doesn't have the required role.
                            500:
                                description: |
                                    The server encountered an unexpected condition which prevented it from creating a pool member monitor rule

                /stats:
                    get:
                        description: |
                            Retrieve a list of stats.
                        responses:
                            200:
                                body:
                                    application/json:
                                        schema: !include schemas/get_pools_poolid_members_memberid_stats.sample
                                        example: !include examples/get_pools_poolid_members_memberid_stats.sample
                                description: |
                                    Retrieve a list of stats.
                            401:
                                description: |
                                    Bad or expired token. To fix, you should re-authenticate the user.
                            501:
                                description: |
                                    Retrieving a list of stats is not supported and/or not implemented.
                            510:
                                description: |
                                    An indeterminate error occurred. This is caused by an unexpected error.

/virtuals:
    displayName: Virtuals
    description: |
        Virtuals are a combination of an ip and a port that distributes trafic among Nodes in a Pool.
        Virtuals can contain one or more Pools.
    get:
        displayName: Retrieve Virtuals
        description: |
            Retrieve a list of all Virtuals in the Load Balancer.
        responses:
            200:
                description: |
                    Retrieve a list of virtuals.
                body:
                    application/json:
                        schema: !include schemas/get_virtuals.sample
                        example: !include examples/get_virtuals.sample
            401:
                description: |
                    Bad or expired token. To fix, you should re-authenticate the user.
            501:
                description: |
                    Retrieving a list of virtuals is not supported and/or not implemented.
            510:
                description: |
                    An indeterminate error occurred. This is caused by an unexpected error.

    post:
        displayName: Create Virtual
        description: |
            Create a new virtual in a load balancer

            **`address` is not required, however, if supplied, it will update an existing Virtual. To create a new virtual, you must not provide an IP or provide a different port number.**

            Payload Properites

            | Attribute |  Type |  Possible Value(s) | Required |
            | ---------- |  ---- |  --------------- | -------- |
            | connectionLimit | Integer | Any Integer | False |
            | address | String | '0.0.0.0' | False |
            | port | Object | {('type', 'equal'), ('value', 80)} | True |
            | description | String | String or null | False |
            | fallbackPersistence | String | String or null | False |
            | gtmScore | Integer | Any Integer | False |
            | ipForward | String | enum("enabled", "disabled") | False |
            | ipProtocol | String | Any valid IP protocol | False |
            | source | String | 0.0.0.0/0 | False |
            *All string values are case sensitive*
        body:
            application/json:
                example: !include examples/post_virtuals_virtualid.sample
        responses:
            200:
                body:
                    application/json:
                        example: !include examples/post_virtuals_virtualid_response.sample
                description: |
                    Create a new virtual in a load balancer.
            401:
                description: |
                    Bad or expired token. To fix, you should re-authenticate the user.
            403:
                description: |
                    User doesn't have the required role.
            500:
                description: |
                    An indeterminate error occurred. This is caused by an unexpected error.

    /stats:
        displayName: Virtual Stats
        description: |
            Retrieve a list of stats for all Virtuals in the Load Balancer.
        get:
            displayName: Retrieve Virtual Stats
            description: |
                Retrieve a list of stats for all Virtuals in the Load Balancer.
            responses:
                200:
                    description: |
                        Retrieve a list of stats for all Virtuals in the Load Balancer.
                    body:
                        application/json:
                            schema: !include schemas/get_virtuals_stats.sample
                            example: !include examples/get_virtuals_stats.sample
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                501:
                    description: |
                        Retrieving a list of virtuals stats is not supported and/or not implemented.
                510:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error.


    /{virtualId}:
        displayName: A Virtual
        description: |
            Retrieve, update and delete a Virtual in a Load Balancer specified by a Virtual id.
        get:
            displayName: Retrieve A Virtual
            description: |
                Retrieve a Virtual in a Load Balancer specified by a Virtual id.
            responses:
                200:
                    description: |
                        Retrieve the Virtual specified.
                    body:
                        application/json:
                            schema: !include schemas/get_virtuals_virtualid.sample
                            example: !include examples/get_virtuals_virtualid.sample
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                404:
                    description: |
                        The virtual requested was not found.
                501:
                    description: |
                        Retrieving a specific virtual is not supported and/or not implemented.

                510:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error.

        put:
            displayName: Update virtual
            description: |
                Update a virtual in a load balancer specified by virtual id

                **`address` is required in order to make an update on the existing virtual.**

                Payload Properites

                | Attribute |  Type |  Possible Value(s) | Required |
                | ---------- |  ---- |  --------------- | -------- |
                | connectionLimit | Integer | Any Integer | False |
                | address | String | '0.0.0.0' | True |
                | port | Object | {('type', 'equal'), ('value', 80)} | True |
                | description | String | String or null | False |
                | fallbackPersistence | String | String or null | False |
                | gtmScore | Integer | Any Integer | False |
                | ipForward | String | enum("enabled", "disabled") | False |
                | ipProtocol | String | Any valid IP protocol | False |
                | source | String | 0.0.0.0/0 | False |
                *All string values are case sensitive*
            body:
                application/json:
                    example: !include examples/put_virtuals_virtualid.sample
            responses:
                200:
                    body:
                        application/json:
                            example: !include examples/put_virtuals_virtualid_response.sample
                    description: |
                        Update a virtual in a load balancer specified by virtual id
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                403:
                    description: |
                        User doesn't have the required role.
                500:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error.
        delete:
            displayName: Delete virtual
            description: |
                Delete a virtual in a load balancer specified by virtual id.
            responses:
                200:
                    body:
                        application/json:
                            example: !include examples/delete_virtuals_virtualid_response.sample
                    description: |
                        Delete a virtual in a load balancer specified by virtual id.
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                403:
                    description: |
                        User doesn't have the required role.
                500:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error.

        /traffic-classes:
            displayName: Virtual Traffic Classes
            description: |
                Retrieve, update and delete Virtual traffic classes in the Load Balancer.

                **Has not been implemented**
            get:
                displayName: Retrieve Traffic Classes
                description: |
                    Retrieve Virtual's Traffic Classes
                responses:
                    200:
                        description: |
                            Retrieve the traffic classes specified.
                        body:
                            application/json:
                                schema: !include schemas/get_virtuals_virtualid_traffic_classess.sample
                                example: !include examples/get_virtuals_virtualid_traffic_classess.sample
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    404:
                        description: |
                            The traffic classes requested was not found.
                    501:
                        description: |
                            Retrieving a specific traffic classes is not supported and/or not implemented.
                    510:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error.

        /persists:
            displayName: Single Virtual Persists
            description: |
                Retrieve, update and delete a single Virtual's persists in the Load Balancer.
            get:
                displayName: Retrieve a Virtual Persists
                description: |
                    Retrieve a single Virtual's persists.
                responses:
                    200:
                        description: |
                            Retrieve the persists specified.
                        body:
                            application/json:
                                schema: !include schemas/get_virtuals_virtualid_persist.sample
                                example: !include examples/get_virtuals_virtualid_persist.sample
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    404:
                        description: |
                            The persists requested were not found.
                    501:
                        description: |
                            Retrieving a specific persist is not supported and/or not implemented.
                    510:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error.
            post:
                displayName: Create a Virtual Persists
                description: |
                    Create a Virtual Persists in the F5 load balancer

                    Payload Properites

                    | Attribute |  Type |  Possible Value(s) | Required |
                    | ---------- |  ---- |  --------------- | -------- |
                    | names | String | Any valid string | True |
                    *All string values are case sensitive*
                body:
                    application/json:
                        example: !include examples/post_virtual_persists_payload.sample
                responses:
                    200:
                        body:
                            application/json:
                                example: !include examples/post_virtual_persists_response.sample
                        description: |
                            Create a Virtual Persists in the F5 load balancer.
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    403:
                        description: |
                            User doesn't have the required role.
                    500:
                        description: |
                            The server encountered an unexpected condition which prevented it from creating a Virtual Persists
            put:
                displayName: Update a Virtual Persists
                description: |
                    Update a Virtual Persists.

                    Payload Properites

                    | Attribute |  Type |  Possible Value(s) | Required |
                    | ---------- |  ---- |  --------------- | -------- |
                    | names | String | Any valid string | True |
                    *All string values are case sensitive*
                body:
                    application/json:
                       example: !include examples/put_virtual_persists_payload.sample
                responses:
                    200:
                        body:
                            application/json:
                                example: !include examples/put_virtual_persists_response.sample
                        description: |
                            Update a Virtual Persists in the F5 load balancer.
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    403:
                        description: |
                            User doesn't have the required role.
                    500:
                        description: |
                            The server encountered an unexpected condition which prevented it from updating a Virtual Persists.
            delete:
                displayName: Delete a Virtual Persists
                description: |
                    Delete a Virtual Persists in the F5 load balancer
                responses:
                    200:
                        body:
                            application/json:
                                example: !include examples/delete_virtual_persists.sample
                        description: |
                            Delete a Virtual Persists in the F5 load balancer.
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    403:
                        description: |
                            User doesn't have the required role.
                    500:
                        description: |
                            The server encountered an unexpected condition which prevented it from deleting a Virtual Persists.

        /stats:
            displayName: A Virtual's Stats
            description: |
                Retrieve stats for a Virtual specified by a Virtual id in the Load Balancer.
            get:
                displayName: A Virtual's Stats
                description: |
                    Retrieve stats for a Virtual specified by a Virtual id.
                responses:
                    200:
                        description: |
                            Retrieve a list of stats.
                        body:
                            application/json:
                                schema: !include schemas/get_virtuals_virtualid_stats.sample
                                example: !include examples/get_virtuals_virtualid_stats.sample
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    501:
                        description: |
                            Retrieving a list of stats is not supported and/or not implemented.
                    510:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error.

        /auth:
            displayName: Virtual Auth
            description: |
                Retrieve, update and delete a Virtual's Auth in the Load Balancer.

                **Has not been implemented**
            get:
                displayName: Retrieve A Virtual's Auth
                description: |
                    Retrieve a Virtual's auth specified by a Virtual id.
                responses:
                    200:
                        description: |
                            Retrieve the auth specified.
                        body:
                            application/json:
                                schema: !include schemas/get_virtuals_virtualid_auth.sample
                                example: !include examples/get_virtuals_virtualid_auth.sample
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    404:
                        description: |
                            The auth requested was not found.
                    501:
                        description: |
                            Retrieving a specific auth is not supported and/or not implemented.
                    510:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error.

        /vlans:
            displayName: A Virtual's Vlans
            description: |
                Retrieve, update and delete a Virtual's Vlans in the Load Balancer.
            get:
                displayName: Retrieve A Virtual's Vlans
                description: |
                    Retrieve a Virtual's Vlans specified by a Virtual id.
                responses:
                    200:
                        description: |
                            Retrieve the vlan specified.
                        body:
                            application/json:
                                schema: !include schemas/get_virtuals_virtualid_vlans.sample
                                example: !include examples/get_virtuals_virtualid_vlans.sample
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    404:
                        description: |
                            The vlan requested was not found.
                    501:
                        description: |
                            Retrieving a specific vlan is not supported and/or not implemented.
                    510:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error.
            post:
                displayName: Create a Vlan
                description: |
                    Create a vlan in the F5 load balancer.

                    Payload Properites

                    | Attribute |  Type |  Possible Value(s) | Required |
                    | ---------- |  ---- |  --------------- | -------- |
                    | names | String | "secure-vlan", "read-vlan" | True |
                    *All string values are case sensitive*
                body:
                    application/json:
                        example: !include examples/post_vlan_by_virtualid_payload.sample
                responses:
                    200:
                        body:
                            application/json:
                                example: !include examples/post_vlan_by_virtualid_response.sample
                        description: |
                            Create a vlan in the F5 load balancer.
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    403:
                        description: |
                            User doesn't have the required role.
                    500:
                        description: |
                            The server encountered an unexpected condition which prevented it from creating a specific vlan.
            put:
                displayName: Update a Vlan
                description: |
                    Update a vlan specified by a Virtual id.

                    Payload Properites

                    | Attribute |  Type |  Possible Value(s) | Required |
                    | ---------- |  ---- |  --------------- | -------- |
                    | names | String | "secure-vlan", "read-vlan" | True |
                    *All string values are case sensitive*
                body:
                    application/json:
                       example: !include examples/put_vlan_by_virtualid_payload.sample
                responses:
                    200:
                        body:
                            application/json:
                                example: !include examples/put_vlan_by_virtualid_response.sample
                        description: |
                            Update a vlan specified by a Virtual id.
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    403:
                        description: |
                            User doesn't have the required role.
                    500:
                        description: |
                            The server encountered an unexpected condition which prevented it from updating a specific vlan.
            delete:
                displayName: Delete a Vlan
                description: |
                    Delete a vlan in the F5 load balancer specified by a Virtual id.
                responses:
                    200:
                        body:
                            application/json:
                                example: !include examples/delete_vlan_by_virtualid.sample
                        description: |
                            Delete a vlan in the F5 load balancer specified by a Virtual id.
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    403:
                        description: |
                            User doesn't have the required role.
                    500:
                        description: |
                            The server encountered an unexpected condition which prevented it from deleting a specific vlan.
        /pool:
            displayName: A Virtual Pool
            description: |
                Retrieve an existing Virtual Pool specified by a Virtual id in the Load Balancer.
            get:
                displayName: Retrieve a Virtual Pool
                description: |
                    Retrieve a Virtual Pool specified by a Virtual id.
                responses:
                    200:
                        description: |
                            Retrieve a list of pools.
                        body:
                            application/json:
                                schema: !include schemas/get_virtuals_virtualid_pools.sample
                                example: !include examples/get_virtuals_virtualid_pools.sample
                    401:
                        description: |
                            Bad or expired token. To fix, you should re-authenticate the user.
                    501:
                        description: |
                            Retrieving a list of pools is not supported and/or not implemented.
                    510:
                        description: |
                            An indeterminate error occurred. This is caused by an unexpected error.

/monitors:
    displayName: Monitors
    description: |
        Monitors verify the health and availability of a Node, a Pool, or group of Nodes in a Pool.
    get:
        displayName: Retrieve Monitors
        description: |
            Retrieve all Monitors in Load Balancer.
        responses:
            200:
                description: |
                    Retrieve a list of monitors.
                body:
                    application/json:
                        schema: !include schemas/get_monitors.sample
                        example: !include examples/get_monitors.sample
            401:
                description: |
                    Bad or expired token. To fix, you should re-authenticate the user.
            501:
                description: |
                    Retrieving a list of monitors is not supported and/or not implemented.
            510:
                description: |
                    An indeterminate error occurred. This is caused by an unexpected error.
    /{monitorId}:
        displayName: A monitor
        description: |
            Retrieve, create, update and delete a monitor in a Load Balancer specified by a monitor id.
        get:
            responses:
                200:
                    description: |
                        Retrieve the monitor specified.
                    body:
                        application/json:
                            schema: !include schemas/get_monitors_monitorid.sample
                            example: !include examples/get_monitors_monitorid.sample
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                404:
                    description: |
                        The monitor requested was not found.
                501:
                    description: |
                        Retrieving a specific monitor is not supported and/or not implemented.
                510:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error.
        post:
            displayName: Create a monitor in the Load Balancer
            description: |
                Create a new monitor in the load balancer.

                Payload Properites

                | Attribute |  Type |  Possible Value(s) | Required |
                | ---------- |  ---- |  --------------- | -------- |
                | address | String | '0.0.0.0' | False |
                | port | Object | {('type', 'equal'), ('value', 80)} | False |
                | type | String | 'tcp' or any valid string | True |
                | appService | String | String or null | False |
                | defaultsFrom | String | Any valid string | False |
                | description | String | String or null | False |
                | interval | String | String or null | False |
                | ipDscp | Integer | Minimum 0, maximum of 86400| False |
                | manualResume | String | enum("enabled", "disabled") | False |
                | recv | String | String or null | False |
                | recvDisable | String | String or null | False |
                | reverse | String | enum("enabled", "disabled") | False |
                | send | String | String or null | False |
                | timeUntilUp | Integer | Minimum 0, maximum 86400 | False |
                | timeout | Integer | Minimum 0, maximum 86400 | False |
                | transparent | String | enum("enabled", "disabled") | False |
                | upInterval | Integer | Minimum 0, maximum 86400 | False |
                *All string values are case sensitive*
            body:
                application/json:
                    schema:  !include schemas/post_monitor_payload.sample
                    example: !include examples/post_monitor_payload.sample
            responses:
                200:
                    body:
                        application/json:
                            example: !include examples/post_monitor_response.sample
                    description: |
                        Create a new monitor in the load balancer.
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                403:
                    description: |
                        User doesn't have the required role.
                500:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error.
        put:
            displayName: Update a Monitor in the Load Balancers
            description: |
                Update a Monitor in the Load Balancer.

                Payload Properites

                | Attribute |  Type |  Possible Value(s) | Required |
                | ---------- |  ---- |  --------------- | -------- |
                | address | String | '0.0.0.0' | False |
                | port | Object | {('type', 'equal'), ('value', 80)} | False |
                | type | String | 'tcp' or any valid string | True |
                | appService | String | String or null | False |
                | defaultsFrom | String | Any valid string | False |
                | description | String | String or null | False |
                | interval | String | String or null | False |
                | ipDscp | Integer | Minimum 0, maximum of 86400| False |
                | manualResume | String | enum("enabled", "disabled") | False |
                | recv | String | String or null | False |
                | recvDisable | String | String or null | False |
                | reverse | String | enum("enabled", "disabled") | False |
                | send | String | String or null | False |
                | timeUntilUp | Integer | Minimum 0, maximum 86400 | False |
                | timeout | Integer | Minimum 0, maximum 86400 | False |
                | transparent | String | enum("enabled", "disabled") | False |
                | upInterval | Integer | Minimum 0, maximum 86400 | False |
                *All string values are case sensitive*
            body:
                application/json:
                    schema:  !include schemas/put_monitor_payload.sample
                    example: !include examples/put_monitor_payload.sample
            responses:
                200:
                    body:
                        application/json:
                            example: !include examples/put_monitor_response.sample
                    description: |
                        Update a new monitor in the load balancer.
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                403:
                    description: |
                        User doesn't have the required role.
                500:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error.
        delete:
            displayName: Delete a Monitor in the load balancer
            description: |
                Delete a Monitor in load balancer
            responses:
                200:
                    body:
                        application/json:
                            example: !include examples/delete_monitors_response.sample
                    description: |
                        Delete a new monitor in the load balancer.
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                403:
                    description: |
                        User doesn't have the required role.
                500:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error.

/events:
    displayName: Events
    description: |
        Retrieve all events.
    get:
        displayName: Retrieve all events
        description: |
            Retrieve all events.
        responses:
            200:
                body:
                    application/json:
                        example: !include examples/get_events.sample
                description: |
                    Returns a list of events
            401:
                description: |
                    Bad or expired token. To fix, you should re-authenticate the user.
            500:
                description: |
                    An indeterminate error occurred. This is caused by an unexpected error

    /{eventId}:
        displayName: Single Event
        description: |
            Retrieve a single Event provided an event id
        get:
            displayName: Retrieve an Event
            description: |
                Retrieve an Event with an event id.
            responses:
                200:
                    body:
                        application/json:
                            example: !include examples/get_events.sample
                    description: |
                        Returns a single Event provided an event id
                401:
                    description: |
                        Bad or expired token. To fix, you should re-authenticate the user.
                500:
                    description: |
                        An indeterminate error occurred. This is caused by an unexpected error
